body {
  background-color: #f5f7fa;
}

.font-l {
  font-size: 45px;
}

.font-m {
  font-size: 26px;
}

.ma-10 {
  margin: 10px;
}
.ma-5 {
  margin: 5px;
}
.border-button {
  box-shadow: 0px 0px 0px 5px #ffffff;
  transition: box-shadow 0.6s linear;
  margin: 0.2em;
}

.border-button:hover {
  box-shadow: 0px 0px 0px 1px #000000;
  cursor: progress;
  background-color: whitesmoke;
}

footer {
  bottom: 0;
}
